<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定的dao/mapper接口 接口路径-->
<mapper namespace="com.jian.dao.OrderMapper">
    <!--   结果集映射
       <resultMap id="AdminMap" type="Admin">
           column 对应数据库列  property 对应实体类的属性
           <result column="" property=""></result>
       </resultMap>-->
    <!--查询语句  id=要实现的方法名   resultType=返回值的实现类   parameterType=传入参数类型-->
    <select id="getAll" resultType="com.jian.pojo.Order" >
        select * from `order`
    </select>
    <select id="selectAll" resultType="com.jian.pojo.Order">
        select o.id,u.name userName,d.name drugName,t.name typeName,`sum`,o.money,o.date
        from  `order` o
                  left join `user` u on o.userid=u.id
                  left join `type` t on o.Typeid=t.id
                  left join `drug` d on o.drugId=d.id
    </select>
    <select id="userList" parameterType="String" resultType="com.jian.pojo.Order">
        select o.id,u.name userName,d.name drugName,t.name typeName,`sum`,o.money,o.date
        from  `order` o
                  left join `user` u on o.userid=u.id
                  left join `type` t on o.Typeid=t.id
                  left join `drug` d on o.drugId=d.id
        where u.name like "%"#{name}"%"
    </select>

    <select id="getById" parameterType="int" resultType="com.jian.pojo.Order">
        select o.id,u.name userName,d.name drugName,t.name typeName,`sum`,o.money,o.date
        from  `order` o
                  left join `user` u on o.userid=u.id
                  left join `type` t on o.Typeid=t.id
                  left join `drug` d on o.drugId=d.id
        where o.id=#{id}
    </select>
    <delete id="deleteOrder" parameterType="int">
        delete from `order` where id=#{id}
    </delete>
    <insert id="insertOrder" parameterType="com.jian.pojo.Order">
        insert into `order` (userId,drugId,typeId,`sum`,money,date)
        values((select id from `user`  where name=#{userName}),
               (select id from `drug`	where name=#{drugName}),
               (select typeId from `drug` where name=#{drugName}),
              #{sum},
              (select pPrice*#{sum} money from drug where name=#{drugName}),
              #{date})
    </insert>

   <!--  <insert id="insertOrder" parameterType="com.jian.pojo.Order">
        insert into `order` (userId,drugId,typeId,money,`date`)values(#{userName},#{drugName},#{typeName},#{money},#{date});
    </insert>-->
    <!--update `order` o set o.money=(select pPrice*5 money from drug where name='阿莫西林') where id=1-->
    <update id="updateOrder" parameterType="com.jian.pojo.Order">
update `order` set userId=(select id from `user`  where name=#{userName}),
                   drugId=(select id from `drug`	where name=#{drugName}),
                   typeId=(select typeId from `drug` where name=#{drugName}),
                   sum=#{sum},
                   money=(select pPrice*#{sum} money from drug where name=#{drugName}),
                   date=#{date}
                   where id=#{id}
    </update>


    <select id="selectOrder" parameterType="String" resultType="int">
        select o.id,u.name userName,d.name drugName,t.name typeName,`sum`,o.money,o.date
        from  `order` o
                  left join `user` u on o.userid=u.id
                  left join `type` t on o.Typeid=t.id
                  left join `drug` d on o.drugId=d.id
        where u.name like "%"#{name}"%"
    </select>

</mapper>