<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定的dao/mapper接口 接口路径-->
<mapper namespace="com.jian.dao.TypeMapper">
    <!--   结果集映射
       <resultMap id="AdminMap" type="Admin">
           column 对应数据库列  property 对应实体类的属性
           <result column="" property=""></result>
       </resultMap>-->
    <!--查询语句  id=要实现的方法名   resultType=返回值的实现类   parameterType=传入参数类型-->
    <select id="selectType" resultType="com.jian.pojo.Type" >
        select * from `type`
    </select>
</mapper>