<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 <!-- 扫描包 spring可以自动去扫描base-pack下面或者子包下面的java文件，如果扫描到有@Component @Controller@Service等这些注解的类，则把这些类注册为bean-->
<context:component-scan base-package="com.jian.controller"/>
<!--这个配置的作用是将我们像css js图片的 静态资源排除在外  进而提高了我们spring mvc对url的处理效率-->
<mvc:default-servlet-handler/>
 <!-- 注解驱动 实现下面的映射器和是配置器-->
<mvc:annotation-driven />
 <!--解决json 乱码配置-->
 <mvc:annotation-driven>
  <mvc:message-converters register-defaults="true">
   <bean class="org.springframework.http.converter.StringHttpMessageConverter">
    <constructor-arg value="UTF-8"/>
   </bean>
   <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    <property name="objectMapper">
     <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
      <property name="failOnEmptyBeans" value="false"/>
     </bean>
    </property>
   </bean>
  </mvc:message-converters>
 </mvc:annotation-driven>
<!-- 加载静态资源-->
 <!--启用默认Servlet-->
 <mvc:resources mapping="/static/**" location="/static/"></mvc:resources>
<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀  -->
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
      id="internalResourceViewResolver">
<!-- 前缀 -->
<property name="prefix" value="/WEB-INF/jsp/"/>
<!-- 后缀 -->
<property name="suffix" value=".jsp"/>
</bean>

<!-- 处理-->
 <!--<bean id="/Test" class=""></bean>-->

 <!--拦截器-->
  <mvc:interceptors>
   <mvc:interceptor>
    <!--所有请求-->
    <mvc:mapping path="/**"/>
    <bean class="com.jian.config.MyInterceptor"></bean>
   </mvc:interceptor>
  </mvc:interceptors>

 <!--文件上传-->
 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
  <property name="defaultEncoding" value="utf-8"/>
  <property name="maxUploadSize" value="10485760"/>
  <property name="maxInMemorySize" value="40960"/>
 </bean>
 </beans>