<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 注解包扫描 -->
    <context:component-scan base-package="com.jian.service"/>
    <!-- 引入所有业务类通过配置文件   可以用注解实现 @service 和@Autowired-->
    <bean id="AdminServiceImpl" class="com.jian.service.IMPL.AdminServiceImpl">
        <property name="adminMapper" ref="adminMapper"/>
    </bean>
    <bean id="UserServiceImpl" class="com.jian.service.IMPL.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
<!--    <bean id="DrugServiceImpl" class="com.jian.service.IMPL.DrugServiceImpl">-->
<!--        <property name="drugMapper" ref="drugMapper"/>-->
<!--    </bean>-->
    <bean id="TypeServiceImpl" class="com.jian.service.IMPL.TypeServiceImpl">
        <property name="typeMapper" ref="typeMapper"/>
    </bean>
   <!-- <bean id="OrderServiceImpl" class="com.jian.service.IMPL.OrderServiceImpl">
        <property name="orderMapper" ref="orderMapper"/>
    </bean>-->
   <!-- 事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
       <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--给哪些方法配置事务-->
        <tx:attributes>
           <!-- <tx:method name="add" propagation="REQUIRED"/>
            <tx:method name="delete" propagation="REQUIRED"/>
            <tx:method name="update" propagation="REQUIRED"/>
            <tx:method name="query" read-only="true"/>-->
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <!--aop事务切入-->
    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* com.jian.dao.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>




</beans>